# App settings -----
HOST     = localhost
# HOST     = spdocker-desa-24
PORT     = 3000
NODE_ENV = development

# Database settings -----
DB_HOST_APP     = db
DB_PORT_APP     = 3306
DB_NAME_APP     = mysqldb
DB_USER_APP     = admin
DB_PASSWORD_APP = qwerty
